flows.json
[
    {
        "id": "505de08b963b3a23",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7ab102cf9517aa7",
        "type": "http in",
        "z": "505de08b963b3a23",
        "name": "",
        "url": "/css",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "ec25cd2e1b3a4c03"
            ]
        ]
    },
    {
        "id": "bd563a0724955d05",
        "type": "http response",
        "z": "505de08b963b3a23",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/css"
        },
        "x": 430,
        "y": 40,
        "wires": []
    },
    {
        "id": "ec25cd2e1b3a4c03",
        "type": "template",
        "z": "505de08b963b3a23",
        "name": "customCSS",
        "field": "payload",
        "fieldType": "msg",
        "format": "css",
        "syntax": "mustache",
        "template": "::-webkit-scrollbar {\n  width: 0.1px;\n  scrollbar-color: #9bc7f38b;\n}\n.main_container {\n  top:0 !important;\n  left: 0 !important; \n  height: 100vh !important;\n  width: 100% !important;\n  padding: 0px !important;\n}\n\n.main_container>div>div>div>div>div>div>div>div>div>div>div>div>div{\n  display:flex;\n  justify-content: center;\n  align-items: center;\n  gap: 10px;\n}\n\n.main_container>div>div>div>div>div>div>div>div>div>div {\n  height:100% !important; \n}\n.form_container, .answer_container   {\n    position: relative !important;\n    top: 0 !important;\n    left: 0 !important;\n    max-height: 95vh !important;\n    background-image: linear-gradient(180deg, #ffffff 25%, #b0d0f1 100%) !important;\n    padding: 0px !important;\n    border-radius: 10px !important;\n}\n\n.bp3-input, .select-button {\n    border-radius: 5px !important;\n    color: #231F20 !important;\n}\n.select-button span {\n    color: inherit !important;\n}\n\n.generate_btn span{\n    color: #FFFFFF !important;\n}\n.answer_container>div {\n  border-radius: 10px;\n  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px 3px !important;\n}\n.answer_container>div>div>div>div>div>div>div {\n  border-radius: 10px;\n  padding: 7px !important;\n  \n}\n\n.add_btn button:hover {\n  background-color: #52ACFF !important;\n}\n\n.actors_item_container:hover > div > div > div > div > div > div> div > div > div > div > div > div > div > div.delete_avatar_btn button {\n  z-index: 1 !important;\n  opacity: 1 !important;\n}\n\n.actors_list .custom-wrapper-canvas-list{\n  display: flex !important;\n  flex-direction: row !important;\n  justify-content: center !important;\n  align-items: center !important;\n  flex-wrap: wrap !important;\n  \n}\n\n.actors_list .actors_item_container .actor {\n  border: 2px solid #eceff192 !important;\n  border-radius: 50% !important;\n  height: 120px !important;\n  width: 120px !important;\n  padding-left: 0px !important;\n  padding-right: 0px !important;\n  top:0px !important;\n  left:0px !important;\n}\n.actors_list .actors_item_container .actor:hover{\n  border: 2px solid #fa882e !important;\n}\n.actors_list .actors_item_container .selected_actor {\n  border: 2px solid #fa882e !important;\n  border-radius: 50% !important;\n  height: 120px !important;\n  width: 120px !important;\n  padding-left: 0px !important;\n  padding-right: 0px !important;\n \n}\n.actors_list .actor>div>div>div>div>div>div>div {\nborder-radius: 50% !important;\n}\n.actors_list .bp3-icon-plus{\n    display: none !important;\n}\n.actors_list.actors_item_container>div>div>div>div>div>div>div>div>div>div>button{\n    display: none !important;\n}\n\n.form_container .actors_list .actors_item_container{\n    width: 150px !important;\n    height:150px !important;\n}\n.form_container .actors_list .actors_item_container>div>div>div>div>div>div>div>div>div>div>div>div>div{\n    position:relative !important;\n    \n}\n\n",
        "output": "str",
        "x": 270,
        "y": 40,
        "wires": [
            [
                "bd563a0724955d05"
            ]
        ]
    },
    {
        "id": "b570594b2c92e3c0",
        "type": "http in",
        "z": "505de08b963b3a23",
        "name": "",
        "url": "/uploadAvatar",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "f7641d49ab6ba0e4"
            ]
        ]
    },
    {
        "id": "aa1e0752d37c7b39",
        "type": "http response",
        "z": "505de08b963b3a23",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "f7641d49ab6ba0e4",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "create avatar object",
        "func": "\n\nconst thumbnail_url = msg.payload.userUrl;\nlet avatar = { \n    createdAt: Date.now(),\n    presenter_id: objectid(), \n    thumbnail_url,\n    source: \"user\",\n    selected:false,\n    deleted: false };\nlet avatars = global.get(\"avatars\")\navatars.unshift(avatar);\nglobal.set(\"avatars\", avatars);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "aa1e0752d37c7b39"
            ]
        ]
    },
    {
        "id": "7fe216677821ddd5",
        "type": "http in",
        "z": "505de08b963b3a23",
        "name": "",
        "url": "/getAllAvatars",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "6c7d66aa5c729d7b"
            ]
        ]
    },
    {
        "id": "6c7d66aa5c729d7b",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "sort Avatars",
        "func": "let avatars = global.get('avatars')\n\nlet filteredAvatars = avatars.filter(avatar => avatar.deleted === false);\n\nfilteredAvatars.sort((a, b) => b.createdAt - a.createdAt);\n\nmsg.payload = filteredAvatars;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 240,
        "wires": [
            [
                "e1a4a227148090a8"
            ]
        ]
    },
    {
        "id": "e1a4a227148090a8",
        "type": "http response",
        "z": "505de08b963b3a23",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "fdd8a17f7ca948d1",
        "type": "http in",
        "z": "505de08b963b3a23",
        "name": "",
        "url": "/selectAvatar",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "44d601641c19f080"
            ]
        ]
    },
    {
        "id": "ed6187075b52d3e1",
        "type": "http response",
        "z": "505de08b963b3a23",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "44d601641c19f080",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "setSelectedTrue",
        "func": "let avatars = global.get('avatars');\n\n// Assuming msg.target contains the _id of the avatar to mark as selected\nlet targetAvatarId = (msg.payload._id).toString();\n\n// Loop through the avatars array\navatars.forEach(avatar => {\n    // Set selected to true only for the target avatar, and false for others\n    avatar.selected = (avatar.presenter_id).toString() === targetAvatarId;\n});\n\n// Update msg.payload to indicate the change\nmsg.payload = {\n    success: true,\n    message: `Avatar with ID ${targetAvatarId} marked as selected, others deselected`\n};\n\n// Set the updated avatars array back to the global context\nglobal.set('avatars', avatars);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "objectid",
                "module": "objectid"
            }
        ],
        "x": 340,
        "y": 300,
        "wires": [
            [
                "ed6187075b52d3e1"
            ]
        ]
    },
    {
        "id": "1774755670398181",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "generateVideoWithUserAvatar",
        "func": "const BASE_URL = \"https://api.d-id.com/talks\";\nconst content = msg.userData.content;\nconst key = msg.userData.key;\nconst voice = msg.userData.voice;\nconst avatar = msg.payload.thumbnail_url;\nmsg.id = String(Date.now());\nmsg.method = 'POST';\nmsg.headers = {\n    'Content-Type': 'application/json',\n    \"accept\": \"application/json\",\n    \"Authorization\": `Basic ${key}`\n};\nmsg.url = `${BASE_URL}`;\nmsg.payload = {\n    \"script\": {\n        \"type\": \"text\",\n        \"provider\": { \"type\": 'elevenlabs', \"voice_id\": voice },\n        \"input\": content\n    },\n    \"user_data\": msg.id,\n    \"config\": { \"result_format\": 'mp4', \"stitch\": true },\n    \"source_url\": avatar,\n    \"webhook\": `${env.get(\"NODEREDURL\")}/webhook`,\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 360,
        "wires": [
            [
                "ba5d465b29f3fa2d"
            ]
        ]
    },
    {
        "id": "ba5d465b29f3fa2d",
        "type": "http request",
        "z": "505de08b963b3a23",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 360,
        "wires": [
            [
                "b1ed565c7e22ae0a"
            ]
        ]
    },
    {
        "id": "60e758bdcc29e6e9",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "findAvatar",
        "func": "let avatars = global.get('avatars');\nmsg.userData = msg.payload;\nmsg.response = msg.payload.choices;\n\nlet targetAvatarId = msg.payload.avatar.toString(); \n\n\nlet selectedAvatar = avatars.find(avatar => (avatar.presenter_id).toString() === targetAvatarId);\n// let selectedAvatar = avatars.find(avatar => avatar.selected === true);\n// let selectedAvatar = msg.userData.avatar.selected;\nif (selectedAvatar) {\n    \n    msg.payload = selectedAvatar;\n} else {\n    \n    msg.payload = {\n        error: 'Avatar not found'\n    };\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 380,
        "wires": [
            [
                "3c25ab7e2f53a0b0"
            ]
        ]
    },
    {
        "id": "abc581cd9b9b870f",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "generateVideoWithActor",
        "func": "const BASE_URL = \"https://api.d-id.com/clips\";\n\nconst avatar = msg.payload.presenter_id;\nconst content = msg.userData.content;\nconst key = msg.userData.key;\nconst voice = msg.userData.voice;\nmsg.id = String(Date.now());\n\nmsg.method = 'POST';\nmsg.headers = {\n    \"content-type\": 'application/json',\n    \"accept\": \"application/json\",\n    \"Authorization\": `Basic ${key}`\n};\n\nmsg.payload = {\n    \"script\": {\n        \"type\": 'text',\n        \"provider\": { \"type\": 'elevenlabs', \"voice_id\": voice },\n        \"input\": content\n    },\n    \"config\": { \"result_format\": 'mp4' },\n    \"presenter_id\": avatar,\n    \"user_data\": msg.id,\n    \"webhook\": `${env.get(\"NODEREDURL\")}/webhook`,\n    \"background\": {\n        \"color\": \"#ffffff\"\n    }\n}\nmsg.url = `${BASE_URL}`;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 420,
        "wires": [
            [
                "d5fb326a99a8ce0f"
            ]
        ]
    },
    {
        "id": "d5fb326a99a8ce0f",
        "type": "http request",
        "z": "505de08b963b3a23",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 420,
        "wires": [
            [
                "b1ed565c7e22ae0a"
            ]
        ]
    },
    {
        "id": "3c25ab7e2f53a0b0",
        "type": "switch",
        "z": "505de08b963b3a23",
        "name": "typeOfAvatar",
        "property": "payload.source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "user",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "d_id",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 380,
        "wires": [
            [
                "1774755670398181"
            ],
            [
                "abc581cd9b9b870f"
            ]
        ]
    },
    {
        "id": "2b1c160de187a01c",
        "type": "http in",
        "z": "505de08b963b3a23",
        "name": "",
        "url": "/webhook",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 480,
        "wires": [
            [
                "d41469a92ec47721"
            ]
        ]
    },
    {
        "id": "555f3438022890c1",
        "type": "http response",
        "z": "505de08b963b3a23",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "video/mp4"
        },
        "x": 530,
        "y": 480,
        "wires": []
    },
    {
        "id": "d41469a92ec47721",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "sendVideo",
        "func": "if (msg.payload.status == 'done') {\n \n \n  global.set(msg.payload.user_data, msg.payload.result_url)\n  msg.payload = msg.payload.result_url;\n  \n} else {\n  msg.payload = null\n  \n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 480,
        "wires": [
            [
                "555f3438022890c1"
            ]
        ]
    },
    {
        "id": "9e2c5ec10d494689",
        "type": "inject",
        "z": "505de08b963b3a23",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "f3f0cea32f89e7ca"
            ]
        ]
    },
    {
        "id": "f3f0cea32f89e7ca",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "set avatars collection",
        "func": "\n\nlet avatars = [\n    {\n        \"_id\": \"6596949f2058da0010fb1a4c\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"amy-Aq6OmGZnMt\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/amy/Aq6OmGZnMt/Vcq0R4a8F0/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a4d\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"amy-FLZ1USJl7m\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/amy/FLZ1USJl7m/vzswgDCwKZ/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a4e\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"amy-sEIU0O2gBy\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/amy/sEIU0O2gBy/VrHMAOUSgO/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a4f\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"anita-6_uTzyZtNR\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/anita/6_uTzyZtNR/vxfRIwlzuf/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a50\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"alyssa-z1fn0H3BfK\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/alyssa/z1fn0H3BfK/bSMgcAjT2R/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a51\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"arran-E2OXQyzs_r\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/arran/E2OXQyzs_r/PaHFW_LIWB/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a52\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"anita-H_MdjUsV3A\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/anita/H_MdjUsV3A/7PLEdMIW1s/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a53\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"anita-UcOoVxD59H\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/anita/UcOoVxD59H/fET_ZHqVWj/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a54\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"alyssa-Kpjhh2J_rm\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/alyssa/Kpjhh2J_rm/Oa9TBDfWdE/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a55\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"arran-esvIrjCjq5\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/arran/esvIrjCjq5/JgPcOxkQeq/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a56\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"alex-qcVo4GUPOY\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/alex/qcVo4GUPOY/Zn2tuAWme0/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a57\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"diana-Ir0x9WlpT4\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/diana/Ir0x9WlpT4/uJX_BBmeQ4/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a58\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"alex-Wzfu0JN6HJ\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/alex/Wzfu0JN6HJ/KwxpJTxq1b/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a59\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"alex-tv2VbI8lXI\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/alex/tv2VbI8lXI/MeDU8rVHxW/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    },\n    {\n        \"_id\": \"6596949f2058da0010fb1a5a\",\n        \"createdAt\": 1704367263765,\n        \"presenter_id\": \"alyssa-fIa7P15FTv\",\n        \"thumbnail_url\": \"https://clips-presenters.d-id.com/alyssa/fIa7P15FTv/PWEobsgYC8/thumbnail.png\",\n        \"source\": \"d_id\",\n        \"selected\": false,\n        \"deleted\": false\n    }\n]\n\nglobal.set(\"avatars\", avatars);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2a70449e6388c54b",
        "type": "http in",
        "z": "505de08b963b3a23",
        "name": "",
        "url": "/generateVideo",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 380,
        "wires": [
            [
                "60e758bdcc29e6e9"
            ]
        ]
    },
    {
        "id": "c4fb00965cc02703",
        "type": "http in",
        "z": "505de08b963b3a23",
        "name": "",
        "url": "/download",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "7a40195f3eab5349"
            ]
        ]
    },
    {
        "id": "7a40195f3eab5349",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "download",
        "func": "msg.url = global.get(msg.payload.id);\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 540,
        "wires": [
            [
                "9a4e91052d8ad0fe"
            ]
        ]
    },
    {
        "id": "9a4e91052d8ad0fe",
        "type": "http request",
        "z": "505de08b963b3a23",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 540,
        "wires": [
            [
                "bc2b13e47e8986bb"
            ]
        ]
    },
    {
        "id": "9e81929266e7566d",
        "type": "http response",
        "z": "505de08b963b3a23",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 540,
        "wires": []
    },
    {
        "id": "bc2b13e47e8986bb",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "convert to mp4",
        "func": "msg.headers = {\n    \"Content-Disposition\": \"attachment\",\n    'Content-Type': 'video/mp4'\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 540,
        "wires": [
            [
                "9e81929266e7566d"
            ]
        ]
    },
    {
        "id": "042fe42819c7d1e4",
        "type": "http response",
        "z": "505de08b963b3a23",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 380,
        "wires": []
    },
    {
        "id": "b1ed565c7e22ae0a",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "function 1",
        "func": "msg.payload=msg.id\nlet avatars = global.get('avatars');\n\navatars.map(avatar => {\n   avatar.selected = false;\n});\nglobal.set('avatars', avatars)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "042fe42819c7d1e4"
            ]
        ]
    },
    {
        "id": "42ead453c4779168",
        "type": "http in",
        "z": "505de08b963b3a23",
        "name": "",
        "url": "/check",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "6fa716cc6eb6c8a8"
            ]
        ]
    },
    {
        "id": "6fa716cc6eb6c8a8",
        "type": "function",
        "z": "505de08b963b3a23",
        "name": "download",
        "func": "let url = global.get(msg.payload.id);\nif (url){\n  msg.payload= {\n    url:url,\n    read:true\n  }\n}else{\n  msg.payload = {\n    url: null,\n    read: false\n  }\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 600,
        "wires": [
            [
                "81d606214541e602"
            ]
        ]
    },
    {
        "id": "81d606214541e602",
        "type": "http response",
        "z": "505de08b963b3a23",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 600,
        "wires": []
    }
]